<footer class="footer section-padding">
  <div class="container container--small">
    <h1 class="text-centered title">Work with us</h1>
    <form action="" class="form">
      <div class="form__group">
        <input id="name" type="text" class="input" autocomplete="off">
        <label for="name">Name</label>
      </div>
      <div class="form__group">
        <input id="email" type="email" class="input">
        <label for="email">Email</label>
      </div>
      <div class="form__group">
        <input id="company" type="text" class="input">
        <label for="company">Company</label>
      </div>
      <div class="form__group">
        <input id="phone" type="text" class="input">
        <label for="phone">Phone (optional)</label>
      </div>
      <div class="form__group">
        <textarea id="message" class="input input--textarea"></textarea>
        <label for="message">What's up?</label>
      </div>
      <input type="submit" class="btn btn--block btn--primary">
    </form>
  </div>
  <div class="footer__footer">
    <div class="container">
      <h3 class="text-centered">&hellip;or feel free to hit us up via</h3>
      <ul class="social-links">
        <li>
          <a href="http://twitter.com/dcubedau" target="_blank"><i class="fa fa-twitter"></i></a>
        </li>
        <li>
          <a href="http://facebook.com/dcubedau" target="_blank"><i class="fa fa-facebook"></i></a>
        </li>
        <li>
          <a href="mailto: jason@dcubed.com.au"><i class="fa fa-envelope"></i></a>
        </li>
      </ul>
    </div>
  </div>
</footer>
